

:root
{
   --Primary :#CB1B1B;
   --White :#FFFFFF;
   --Black :#0C0C0C;
   --Info  :#2F80ED;

}
html{
box-sizing: border-box;
font-size: 62.5%; 
}
*,*::after,*::before
{
    box-sizing: inherit;
}
body
{
    direction: rtl;
    text-align: right;
    line-height: 1.6;
    font-size: 1.6rem;
    background-color: var(--White);
    justify-content: center;
    font-family: body-Regular;
}
.logo
{
    width: 131xp;
    height: 63px;
}
.container
{
    min-width: 76.5rem;
    padding-left: 14rem;
    padding-right: 14rem;
    margin-left: auto;
    margin-right: auto;
    
}
.header
{
    
    background: url(../images/png/Photo\ \(1\).png);
    background-size: cover;
    background-position:center;
    min-height: 70rem;
    padding-top: 3rem;
    margin-bottom: 10rem;
}

.nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--White);
    border-radius: 1rem;
    padding: 1rem 3rem ;

}
.nav-wrapper
{
   display: flex;
   justify-content: space-between;
   align-items: center;
}

.menue-list
{
    display: flex;
    align-items: center;
    gap: 2rem;
   padding-right: 4rem;
}
.menue-list-item
{
    font-size: 2rem;

}
.nav-links
{
   display: flex;
   align-items: center;
   gap: 2rem;
   
  
}
.nav-link
{ 
   color: var(--Black);
    text-decoration: none;
   padding-left: 2rem;
}
.nav-link-active{
    border: 0.1rem solid var(--Primary);
    padding: 0.6rem;
   border-radius: 1rem;
    color: var(--Primary);
    
}

.header-content{

    text-align: center;
    margin-top: 15rem;
}
.header-content_title{
    color: var(--White);
    font-size: 6rem;
    font-family: 'body-md';

}
.header-content_caption{
    color: var(--White);
    font-size: 3.8rem;

}
.header_search{
    text-align: center;
    max-width: 80rem;
    margin: auto;
    background-color: var(--White);
    border-radius: 1rem;
    font-size: 2.5rem;
    margin-top: 6rem;
    font-weight: bold;
    padding:  0 2rem;
}

.search_box_content{
    display: flex;
    justify-content: space-around;
    border-bottom: 1px solid #ADADAD;
    font-family: body-md;
}

.search_box{
    text-align: right;
    display: flex;
    align-items: center;
    padding: 1rem;
    
}
.search_box img {
    padding-left: 0.5rem;
}
.search_box input {
    border: none;
    font-size: 1.9rem;
    font-family: body-md;
}
.search_box input ::placeholder {
    color: var(--Black);
}
.titr{
    font-size: 3.1rem;
    font-family: body-md;

}

.headre-widgets
{
    display: flex;
    align-items: center;
    gap: 2.5rem;

}
.header-widget-sevice{
    width: 39rem;
    height: 49rem;
    background-color: #FAFAFA;
    border-radius: 1rem;
    padding: 2rem;

}
.header-widget-sevice-imag{
   margin: auto;
   display: block;


}
.header-widget-sevice-title{
    font-size: 2rem;
    text-align: center;
    padding-top: 2.5rem;
    color: var(--Black);


}
.header-widget-sevice-caption{
    text-align: center;
    font-size: 1.4rem;
    padding-top: 1.4rem;

}
.header-widget-sevice-link{

     padding-top: 13rem;
     


}
.header-widget-sevice-link-active{

    border: 0.1rem solid var(--Primary);
    background-color: var(--Primary);
    color: var(--White);
    padding: 0.6rem;
    padding-left: 14rem;
    padding-right: 14rem;
   border-radius: 1rem;
   text-decoration: none;
    

}
.titr-ti{
    padding-top: 9rem ;
    font-size: 4.4rem;
}

.headre-widgets
{
    display: flex;
    align-items: center;
    gap: 2.5rem;

}
.header-widget-sevice{
    width: 39rem;
    height: 49rem;
    background-color: #FAFAFA;
    border-radius: 1rem;
    padding: 2rem;

}
.header-widget-sevice-imag{
   margin: auto;
   display: block;


}
.header-widget-sevice-title{
    font-size: 2rem;
    text-align: center;
    padding-top: 2.5rem;
    color: var(--Black);
    font-family: body-md;


}
.header-widget-sevice-caption{
    text-align: center;
    font-size: 1.4rem;
    padding-top: 0.4rem;

}
.header-widget-sevice-link{

     padding-top: 13rem;
     


}
.header-widget-sevice-link-active{

    border: 0.1rem solid var(--Primary);
    background-color: var(--Primary);
    color: var(--White);
    padding: 0.6rem;
    padding-left: 14rem;
    padding-right: 14rem;
   border-radius: 1rem;
   text-decoration: none;
    

}
.titr-ti{
    padding-top: 9rem ;
    font-size: 3.4rem;
    font-family: body-md;
}
