:root
{
   --Primary :#CB1B1B;
   --White :#FFFFFF;
   --Black :#0C0C0C;
   --Info  :#2F80ED;

}
html{
box-sizing: border-box;
font-size: 62.5%; 
}
*,*::after,*::before
{
    box-sizing: inherit;
}
body
{
    direction: rtl;
    text-align: right;
    line-height: 1.6;
    font-size: 1.6rem;
    font-family: "body";
    background-color: var(--White);
    justify-content: center;
}
.logo
{
    width: 131xp;
    height: 63px;
}
/*nav section*/



.container
{
    padding-left: 14rem;
    padding-right: 14rem;
    margin-left: auto;
    margin-right: auto;
    
}
.header
{
    
    background: url(../images/png/Photo\ \(1\).png);
    background-size: cover;
    background-position:var(--White);
    min-height: 70rem;
}
.nav
{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 5rem;
    padding-left: 2rem;
 
}
.nav-wrapper
{
   display: flex;
   justify-content: space-between;
   align-items: center;
}
.nav-logo
{
    margin-right: 6rem;
    padding-left: 2rem;

}
.nav-logo
{
    margin-left:  4rem; ;
}
.menue-list
{
    display: flex;
    align-items: center;
    gap: 2rem;
    
   
    
    
}
.menue-list-time
{
    font-family: "Anybody-Regular";

}
.nav-links
{
   display: flex;
   align-items: center;
   gap: 2rem;
   
  
}
.nav-link
{
    
    color: var(--Primary);
    text-decoration: none;
   

}
.nav-link-active{
    border: 0.1rem solid var(--Primary);
    padding: 0.6rem;
   border-radius: 1rem;

}
.box{
    width: auto;
    height: 16rem;
    background-color: #FFFFFF;
    padding-top: 5rem;
    padding: 0.5rem;
    margin: 6rem;
    border-radius: 3rem;
    margin-top: auto;
    padding-left: 0.5rem;
    padding-bottom: 2rem;
}
.header-content{

    text-align: center;
    margin-top: 12rem;
}
.header-content_title{
    color: var(--White);
    font-family:"ADLaM_Display" ;
    font-size: 6rem;

}
.header-content_caption{
    color: var(--White);
    font-family: "ADLaM_Display";
    font-size: 3rem;

}
.box2{
    width: 70rem;
    height: 108px;
    background-color: #f0f0f0;
    border: 2px ;
    padding: 10px;
    justify-content: flex-start; 
   text-align: center;
    border-radius: 5px;
    align-self: flex-end;
    font-size: 2rem;
}
.thin-line{
    border: none;
    border-top: 1rem;
    width: 65rem;
    margin: 2rem auto;
}
        
