@font-face {
    font-family: 'Anybody-Regular';
    src: url("../fonts/static/Anybody_Condensed-Black.ttf")format('trutype');
}
@font-face {
    font-family: 'ADLaM_Display';
    src: url("../fonts/ADLaM_Display/ADLaMDisplay-Regular.ttf")format('trutype');
}
